@page "/"
<div class="h-full pt-10">
    <div class="max-w-sm rounded overflow-hidden shadow-lg m-4">
        <div class="px-4 py-1 h-10 w-full bg-purple-900 text-white text-lg rounded">
            Task Name
        </div>
        <div class="px-4 py-4">
            <p class="text-gray-700 text-base">
                Task Description text ....................................
            </p>
        </div>
        <div class="px-4 pt-4 pb-1">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#User</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Date</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Status</span>
        </div>
    </div>

     <div class="max-w-sm rounded overflow-hidden shadow-lg m-4">
        <div class="px-4 py-1 h-10 w-full bg-purple-900 text-white text-lg rounded">
            Task Name
        </div>
        <div class="px-4 py-4">
            <p class="text-gray-700 text-base">
                Task Description text ....................................
            </p>
        </div>
        <div class="px-4 pt-4 pb-1">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#User</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Date</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Status</span>
        </div>
    </div>

    <div class="max-w-sm rounded overflow-hidden shadow-lg m-4">
        <div class="px-4 py-1 h-10 w-full bg-purple-900 text-white text-lg rounded">
            Task Name
        </div>
        <div class="px-4 py-4">
            <p class="text-gray-700 text-base">
                Task Description text ....................................
            </p>
        </div>
        <div class="px-4 pt-4 pb-1">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#User</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Date</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#Status</span>
        </div>
    </div>
</div>

